.sidebar {
  position: fixed;
  top: var(--header-height);
  height: calc(100% - var(--header-height));
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__open {
  width: var(--sidebar-width);
}

.sidebar__close {
  width: var(--sidebar-width__close);
}
