.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.size_xl {
  padding: 12px;
}
.size_l {
  padding: 8px;
}

.ButtonHover {
  cursor: pointer;
  outline: none;
}

.ButtonHoverBackground {
  background-color: rgba(60, 64, 67, 0.08);
}
