.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  opacity: 1;
  padding: 0 16px;
  /* background-color: var(--blue); */
}

/* .container__hover {
} */

.container__white {
  background-color: var(--white);
}
.container__red {
  background-color: var(--red);
}
.container__yellow {
  background-color: var(--yellow);
}
.container__green {
  background-color: var(--green);
}
.container__bluegreen {
  background-color: var(--bluegreen);
}
.container__blue {
  background-color: var(--blue);
}
.container__deepblue {
  background-color: var(--deepblue);
}
.container__purple {
  opacity: 0;
  background-color: var(--purple);
}
.container__pink {
  background-color: var(--pink);
}
.container__brown {
  background-color: var(--brown);
}
.container__gray {
  background-color: var(--gray);
}

.header {
  display: flex;
  padding-top: 12px;
}

.header_input {
  /* font */
  font-size: 1rem;
  letter-spacing: 0.00625em;
  font-weight: 500;
  line-height: 1.5rem;

  /*  remove default */
  outline: none;
  border: none;

  flex: 1 1 auto;
  background: transparent;
}

.textArea {
  width: 100%;
}

.footer {
  display: flex;
}
