.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100% - var(--header-height));
  width: var(--sidebar-width);
}

.sidebar__close {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100% - var(--header-height));
  width: var(--sidebar-width__close);
}
