.todoList {
  display: flex;
  align-items: flex-start;

  /* border */
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.todoTextArea {
  flex: 1 1 auto;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  width: auto;
}
